.bg-section-landing {
  background: url(../../../assets/img/bg-landing.png);
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  padding-top: 10vh;
}
.decoration-none {
  color: black;
  text-decoration: none;
}
.decoration-none:hover {
  color: black;
  text-decoration: none;
}

.landing-sections {
  min-height: 90vh;
  width: 100%;
}

.bg-section1 {
  background-color: rgb(53, 54, 55);
}
.bg-section2 {
  background-color: #534575e9;
}
.bg-section3 {
  background-color: rgb(0, 0, 0);
}
.img-card-landing {
  width: 100%;
  max-height: 300px;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
}
.img-scale {
  transition: all 0.3s;
}
.img-scale:hover {
  transform: scale(1.1);
}
