<app-landing-navbar> </app-landing-navbar>
<main class="bg-section-landing">
  <div
    class="container d-flex flex-column justify-content-center align-items-center"
  >
    <img src="./../../../assets/img/logo-black.png" alt="" />
    <h3>"Si puedes imaginarlo, puedes programarlo"</h3>

    <h4 class="mt-5">
      Qualia Space te brinda las herramientas que necesitas para crear tu sitio
    </h4>
    <a class="btn btn-spacelanding mt-5" [routerLink]="['/', 'login']"
      >Empieza a crear tu sitio!</a
    >
  </div>
</main>

<!-- <div class="landing-sections bg-section1 row m-0 p-0 p-4">
  <h2></h2>
  <div class="col-8">imagen</div>
  <div class="col-4">texto</div>
</div> -->
<div
  class="landing-sections bg-section2 p-4 d-flex justify-content-center flex-column p-4"
>
  <div class="d-flex justify-content-center">
    <h2>Elige</h2>
    &nbsp;
    <h2 style="color: #62cdaf">tu Plan</h2>
    <span></span>
  </div>
  <div class="d-flex justify-content-around mt-5">
    <div class="card" style="width: 25%">
      <div class="img-card-landing">
        <img
          src="../../../assets/img/stars.jpg"
          class="card-img-top img-fluid img-scale img-card-landing"
          alt="..."
        />
      </div>
      <div class="card-body">
        <a class="decoration-none" [routerLink]="['/', 'registeru']">
          <h5 class="card-title text-center">Plan Star</h5>
          <p class="card-text">
            Si quieres navegar entre las tiendas que tenemos y disfrutar de sus
            servicios este es tu plan!.¡¿Que esperas!?, Registrate ya!.
          </p></a
        >
      </div>
    </div>
    <div class="card" style="width: 25%">
      <div class="img-card-landing">
        <img
          src="../../../assets/img/galaxy.jpg"
          class="card-img-top img-fluid img-scale img-card-landing"
          alt="..."
        />
      </div>
      <div class="card-body">
        <a class="decoration-none" [routerLink]="['/', 'registere']">
          <h5 class="card-title text-center">Plan Galaxy</h5>
          <p class="card-text">
            Si tu empresa es pequeña, o tienes poco conocimiento creando páginas
            en línea, este es tu plan. Solo Registra tu empresa y descubre de
            los beneficios que ofrecemos!
          </p>
        </a>
      </div>
    </div>
    <div class="card" style="width: 25%">
      <div class="img-card-landing">
        <img
          src="../../../assets/img/universe.jpg"
          class="card-img-top img-fluid img-scale"
          alt="..."
        />
      </div>
      <div class="card-body">
        <a class="decoration-none" [routerLink]="['/', 'registere']">
          <h5 class="card-title text-center">Plan Universe</h5>
          <p class="card-text">
            Si tu empresa es grande este plan es perfecto para tus necesidades!.
            Trabajemos juntos por el progreso!
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- <div class="landing-sections bg-section3 p-4">seccion3</div> -->

<app-landing-footer></app-landing-footer>
