<nav class="navbar nav-landing">
  <div class="container-fluid">
    <a class="navbar-brand text-white">
      <img
        class="img-fluid img-logo-size"
        src="../../../../assets/img/logo.png"
        alt=""
      />
      Qualia Space</a
    >
    <div class="d-flex" role="search">
      <img src="" alt="" />
      <a class="ps-2 nav-item-custom">Registrar Empresa</a>
      <a class="ps-2 nav-item-custom">Registro</a>
      <a class="ps-2 nav-item-custom">Inicio de Sesión</a>
    </div>
  </div>
</nav>
