/* You can add global styles to this file, and also import other style files */
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-main-section {
  min-height: 100vh;
  width: 100%;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.bg-forms {
  background: url("./assets/img/bg-login.jpg");
  background-size: cover;
}

.bg-blur {
  background-color: rgba(233, 233, 233, 0.7);
  width: 400px;
  margin: auto;
  backdrop-filter: blur(9px);
}

.img-form {
  width: 150px;
  height: auto;
}

.btn-space {
  background-color: #6e47a4;
  color: white;
}
.btn-space:hover {
  background-color: #4e2587;
  color: white;
}

.cpointer {
  cursor: pointer;
}

.btn-spacelanding {
  background-color: #62cdaf;
  color: rgb(74, 71, 71);
}
.btn-spacelanding:hover {
  background-color: #1e795f;
  color: white;
}

.noStores-template {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-ace-editor {
  border: 2px solid #f8f9fa;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
